$padding-inline: 5%;
$padding-block: 2rem;
$margin-block: 2rem;

$font-Inter: 'Inter', sans-serif;
$font-Lexend: 'Lexend Deca', sans-serif;

%align-center{

    display: flex;
    align-items: center;
}